{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "semi": true,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "auto"
}
