{
    "presets": [
     ["@babel/preset-env", {
        "targets":{
            "browsers":"> 0.2% and not dead",
            "node":"current"
        }
     }],
     //jest동작 runtime을 자동으로 설정
     ["@babel/preset-react", {"runtime":"automatic"}],
     "@babel/preset-typescript"
    ]
}