{
    "presets": [
     ["@babel/preset-env", {
        "targets":{
            "browsers":"> 0.2% and not dead",
            "node":"current"
        }
     }],   
     "@babel/preset-react",
     "@babel/preset-typescript"
    ]
}