{
    "presets": [
     ["@babel/preset-env", {
        "targets":{
            "browsers":"> 0.2% and not dead",
            "node":"current"
        }
     }],   
     ["@babel/preset-react", {"runtime":"automatic"}], // 기본 rect 임포트 작동적용
     "@babel/preset-typescript"
    ]
}