button {
  appearance: none;
  padding: 8px 18px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  &:hover {
    color: #ff00cc;
    background-color: var(--gray-100);
  }

  &:focus {
    background-color: var(--gray-300);
    border-color: var(--gray-600);
  }
}
